.motivational-text p {
    font-size: 21px; /* Bigger text */
    /* Make it stand out */
    color: #222; /* Slightly darker for emphasis */
    line-height: 1.8; /* More spacing for readability */
    text-align: flex-start; /* Centered for better impact */
    font-family: 'Playfair Display', serif;
  }
  .big-cta-button {
    padding: 16px 24px;
    font-size: 35px;
    font-weight: 700;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
  }
  
  .big-cta-button:hover {
    background-color: #138c59; /* A slightly darker green */
    transform: scale(1.02);
  }
.box-one:hover{
    background-color: #ffffff; /* White background on hover */
    color: #000000; /* Black text on hover */
    transform: scale(1.19); /* Slightly larger on hover */
    transition: 0.3s; /* Smooth transition */
    cursor: pointer;
  }
  
  .box-two:hover{
    background-color: #ffffff; /* White background on hover */
    color: #000000; /* Black text on hover */
    transform: scale(1.19); /* Slightly larger on hover */
    transition: 0.3s; /* Smooth transition */
    cursor: pointer;
  }
  
  .box-three:hover{
    background-color: #ffffff; /* White background on hover */
    color: #000000; /* Black text on hover */
    transform: scale(1.19); /* Slightly larger on hover */
    transition: 0.3s; /* Smooth transition */
    cursor: pointer;
  }
  .feature-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes content apart */
    align-items: center;
    height: 100%; /* Ensures it fills the container */
    padding: 20px;
  }
  
  .feature-box p {
    flex-grow: 1; /* Makes the text take available space without pushing the button out */
  }
  .row .col-md-4 {
    display: flex;
  }
  
  .row .col-md-4 > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
    



